{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<form action="/transfer" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">send with</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="sender">
            <option selected>Choose...</option>
            {% for i in range(l_mine|length) %}
                <option value={{i}}>{{l_mine[i]["card"]}}</option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Reciever</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="reciever">
            <option selected>Choose...</option>
            {% for i in range(l_cards|length) %}
                <option value={{i}}>{{l_cards[i]["card"]}}</option>
            {% endfor %}
        </select>
        
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="text" name="amount" placeholder="Amount" type="text">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
{% endblock %}